{% extends 'main.html' %}

{% block content %}
{% if user.is_authenticated %}
	<br><br>
	<div class="columnstyle">
		{% for photo in photos %}
			{{ photo.sender }}
			<div class="photo-content" style="background-color: #f8f9fa">
				<a href="{% url 'photo_detail' photo.pk %}" >
					<img class="img-fluid" src="{{ photo.img.url }}" alt="Card image cap" >
				</a>
				<div class="bla">
					<div class="user"><strong>{{ photo.user }}</strong> {{ photo.description }} </div><div class="user-info">

						{% for tag in photo.tags.all %}
							<a href="{% url 'tagged' tag.slug %}"> #{{ tag.name }} </a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}
{% endblock %}
