{% extends 'main.html'%}
{% block content %}
<br><br>
<div class="columnstyle">
	{{ photo.sender }}
	<div class="photo-content" style="background-color: #f8f9fa">
		<a href="{% url 'photo_detail' photo.pk %}" >
			<img class="img-fluid" src="{{ photo.img.url }}" alt="Card image cap" >
		</a>
		<div class="bla">
			<div class="user"><strong>{{ photo.user }}</strong> {{ photo.description }} </div><div class="user-info">

				{% for tag in photo.tags.all %}
					<a href="{% url 'tagged' tag.slug %}"> #{{ tag.name }} </a>
				{% endfor %}
			</div>
		</div>
	</div>
	{% if user.is_authenticated %}
		<div class="btn-delete">
			<a class="btn-delete" style="color:white;background-color: #fc4205;padding:8px 5px; margin:20px 0;"  href="{% url 'delete_photo' photo.pk %}">Delete photo</a>
		</div>
	{% endif %}
</div>
{% endblock %}