{% extends 'main.html'%}
{% load i18n %}
{% block content %}
<br>
<div class="container">
    <div class="p">
	<div class="columnstyle">
		<div class="card border-dark mb-3"  >
			<img class="card-img-top" src="{{ photo.img.url }}" alt="Card image cap">
			<div class="card-body text-dark">
				<div class="bla">
				<div class="user">{{ photo.user }}</div>
					<div id="like-section">
					    {% include 'like_section.html' with is_liked=is_liked_by_user %}
					</div>
				</div>
			</div>
			<p class="text-style-description"> {{ photo.description }} </p>
		</div>
	</div>
	</div>
	<form action="{% url 'add_comment' %}" method="POST" id="form-comment-ajax">
		{% csrf_token %}
			{{ form }}
		<input type="submit" name="submit" value="Submit" />
	</form>
	<div class="block-to-be-refreshed">
	{% for comment in photo.comments.all %}
		<div class="comment-wrapp">
			<div class="user"><strong>{{ comment.user }}</strong></div>
			<div class="information"> {{ comment.text }}</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}