{% extends 'main.html'%}
{% load i18n %}
{% block content %}
<br>
<div class="container">
    <div class="p">
	<div class="columnstyle">
		<div class="card border-dark mb-3"  >
			<img class="card-img-top" src="{{ photo.img.url }}" alt="Card image cap">
			<div class="card-body text-dark">
				<div class="bla">
				<div class="user">{{ photo.user }}</div>
					<div id="like-section">
					{% include 'like_section.html' %}

					</div>

				</div>
			</div>
			<p class="text-style-description"> {{ photo.description }} </p>
		</div>
	</div>
	</div>
	<form class="form-comment-ajax" action="" method="POST">
		{% csrf_token %}
			{{ form }}
		<input type="submit" name="submit" value="Submit" />
	</form>
	<div class="block-to-be-refreshed">
	{% for comment in photo.comments.all %}
		<div class="comment-wrapp">
			<div class="user"><strong>{{ comment.user }}</strong></div>
			<div class="information"> {{ comment.text }} </div>
		</div>
	{% endfor %}
	</div>
</div>

<script>
$(document).ready(function(){
    $(document).on('click','#like', function(event){
    	event.preventDefault();
		var pk = $(this).attr('value');
		$.ajax({
			type: 'POST',
			url: '{% url 'like_photo' %}',
			data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
			dataType: 'json',
			success: function(response){
				$('#like-section').html(response['form'])
				console.log($('#like-section').html(response['form']))
			},
			error: function(rs,e){
				console.log(rs.responseText);
			},
		});
    });
});
</script>
{% endblock %}